{% extends "photocontest/base.html" %}
{% load static %}
{% block content %}
    <style > 
    * {color:black;}
    </style>
    <div class="jumbotron">
        <h1>Welcome to our Photo Contest! </h1>
    </div>
    <h3> Submissions </h3>
    {% if photos %}
        {% for photo in photos %}
            <p> {{photo.caption}}</p>
        {%endfor%}
    {% else %}
        <p> No current submissions</p>
    {% endif %}
    <br>
    <h3>Add submission!</h3>

    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ submitform.as_p }}
        <input type="submit" value="Submit">
    </form>

    {%if Submitted %}
        <p>submission complete!</p>
    {%endif%}

    <div id="like_button_container"></div>

    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
   
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

  <!-- Load our React component. -->
  <script src="like_button.js"></script>

{% endblock %}